.login-box {
  height: 50%;
  width: 40%;
  position: relative;
  background-image: url("./assets/img/form-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;

  &__login-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: $theme_mask;
    border-radius: 10px;
  }

  &__position {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  @include media-breakpoint-down(lg) {
    width: 80%;
  }

  @include media-breakpoint-down(sm) {
    width: 95%;
  }
}
